.game-chat-container {
  position: fixed;
  height: 100%;
  width: 350px;
  background: rgba(20, 20, 20, 0.8);
  backdrop-filter: blur(8px);
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.9);
  z-index: 10000;
  color: white;
  transition: 0.3s ease-in-out;
  left: -355px;
}

.game-chat-input {
  width: 100%;
  background: rgba(20, 20, 20, 0.8);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid burlywood;
  padding: 7px;
  color: #fff;
  margin: 10px 0;
}

.game-chat-show {
  left: 0;
}

.game-chat-messages {
  height: 90% !important;
}

.end-screen-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-box {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  color: #fff;
  width: 250px;
  min-height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.end-users {
  list-style-type: none;
  width: 80%;
  margin: 20px auto;
  padding: 30px 0;
}

.end-user {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.plus-end-points {
  color: lime;
}

.end-points {
  opacity: 0.5;
}
/*

.stopped {
  opacity: 0.25;
}

.his-turn {
  box-shadow: 0px 0px 20px rgba(255, 215, 0, 0.8);
}

.game-loggedUser-card {
  width: 60px;
  transition: 0.4s ease-out;
  position: relative;
}

.game-loggedUser-card:hover {
  transform: translateY(-15px);
  transition: 0.4s ease-out;
}

.game-loggedUser-card:hover + .game-loggedUser-card {
  margin-left: 0px;
  transition: 0.4s ease-out;
  position: relative;
}

.game-loggedUser-card:not(:first-child) {
  margin-left: -25px;
}

.game-container {
  display: flex;
  flex-wrap: wrap-reverse;
}

.game-player-card:not(:first-child) {
  margin-left: -15px;
}

.game-board {
  flex-grow: 1;
  min-width: 400px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  row-gap: 40px;
  column-gap: 20px;
}

.game-middle {
  grid-row: 2 / span 2;
  grid-column: 4 / span 2;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border: 1px solid white;
}

.uno-spare {
  height: 100px;
  transform: rotateZ(5deg);
  z-index: 2;
}

.uno-mid {
  height: 100px;
  transform: rotateZ(-10deg);
}

.check-first-card {
  height: 100px;
  position: absolute;
  z-index: 1;
}

.check-first-card-anim {
  animation: main 0.6s;
  animation-fill-mode: forwards;
}

.check-first-card-inner {
  position: relative;
  width: 70px;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.check-first-card-inner-anim {
  animation: inner 0.4s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

@keyframes main {
  from {
    left: 0;
    transform: rotateZ(5deg);
  }
  to {
    left: 40%;
    transform: rotateZ(20deg);
  }
}

@keyframes inner {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

.check-first-card-front,
.check-first-card-back {
  position: absolute;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.check-first-card-back {
  transform: rotateY(180deg);
}

.check-first-buttons {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 90px);
  border: 1px solid red;
}

.check-first-button {
  font-size: 20px;
  padding: 5px 10px;
  background: rgba(145, 106, 51, 0.9);
  cursor: pointer;
  color: white;
  margin: 0px 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.game-player {
  display: flex;
  min-width: 200px;
  max-width: 250px;
}

.game-player-cards {
  display: flex;
  flex-wrap: wrap;
}

.game-player-card {
  height: 40px;
}

.game-player-info {
  padding-left: 10px;
}

.game-player-pfp {
  width: 50px;
  max-height: 50px;
}
.board-empty-player {
  min-width: 200px;
  min-height: 50px;
}

.game-player:nth-child(1) {
  grid-row: 1;
  grid-column: 2 / span 2;
}
.game-player:nth-child(2) {
  grid-row: 1;
  grid-column: 4 / span 2;
}
.game-player:nth-child(3) {
  grid-row: 1;
  grid-column: 6 / span 2;
}
.game-player:nth-child(4) {
  grid-row: 2;
  grid-column: 7 / span 2;
}
.game-player:nth-child(5) {
  grid-row: 3;
  grid-column: 7 / span 2;
}
.game-player:nth-child(6) {
  grid-row: 4;
  grid-column: 6 / span 2;
}
.game-player:nth-child(7) {
  grid-row: 4;
  grid-column: 2 / span 2;
}
.game-player:nth-child(8) {
  grid-row: 3;
  grid-column: 1 / span 2;
}
.game-player:nth-child(9) {
  grid-row: 2;
  grid-column: 1 / span 2;
}

@media screen and (max-width: 1250px) {
  .game-board {
    flex-grow: 1;
    min-width: 400px;
    border: 1px solid blue;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    row-gap: 35px;
    column-gap: 20px;
  }
  .check-first-button {
    font-size: 17px;
    padding: 5px 7px;
  }
  .game-loggedUser-card {
    width: 50px;
    transition: 0.4s ease-out;
    position: relative;
  }
  .game-loggedUser-cards {
    grid-row: 5 / span 2;
    grid-column: 1 / span 2;
    display: flex;
    flex-wrap: wrap;
  }
  .game-bottom-buttons {
    grid-row: 5 / span 2;
    grid-column: 3;
  }
  .game-player:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
  }
  .game-player:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
  }
  .game-player:nth-child(3) {
    grid-row: 1;
    grid-column: 3;
  }
  .game-player:nth-child(4) {
    grid-row: 2;
    grid-column: 3;
  }
  .game-player:nth-child(5) {
    grid-row: 3;
    grid-column: 3;
  }
  .game-player:nth-child(6) {
    grid-row: 4;
    grid-column: 3;
  }
  .game-player:nth-child(7) {
    grid-row: 4;
    grid-column: 1;
  }
  .game-player:nth-child(8) {
    grid-row: 3;
    grid-column: 1;
  }
  .game-player:nth-child(9) {
    grid-row: 2;
    grid-column: 1;
  }
  .game-middle {
    grid-row: 2 / span 2;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid blue;
  }
}

@media screen and (max-width: 800px) {
  .game-board {
    flex-grow: 1;
    min-width: 400px;
    border: 1px solid blue;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    row-gap: 20px;
    column-gap: 20px;
  }
  .check-first-buttons {
    transform: translate(-50%, 60px);
  }
  .game-loggedUser-card:not(:first-child) {
    margin-left: -15px;
  }
  .game-loggedUser-card {
    width: 40px;
    transition: 0.4s ease-out;
    position: relative;
  }
  .game-loggedUser-cards {
    grid-row: 7;
    grid-column: 1 / span 2;
    display: flex;
    flex-wrap: wrap;
  }
  .game-bottom-buttons {
    grid-row: 8;
    grid-column: 1 / span 2;
  }
  .game-player:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
  }
  .game-player:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
  }
  .game-player:nth-child(3) {
    grid-row: 2;
    grid-column: 2;
  }
  .game-player:nth-child(4) {
    grid-row: 4;
    grid-column: 2;
  }
  .game-player:nth-child(5) {
    grid-row: 5;
    grid-column: 2;
  }
  .game-player:nth-child(6) {
    grid-row: 5;
    grid-column: 1;
  }
  .game-player:nth-child(7) {
    grid-row: 4;
    grid-column: 1;
  }
  .game-player:nth-child(8) {
    grid-row: 2;
    grid-column: 1;
  }
  .game-player:nth-child(9) {
    grid-row: 6;
    grid-column: 1;
  }
  .game-middle {
    grid-row: 3;
    grid-column: 1 / span 2;
    padding: 0 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .uno-spare {
    height: 70px;
    transform: rotateZ(5deg);
  }

  .uno-mid {
    height: 70px;
    transform: rotateZ(-10deg);
  }
  .check-first-card {
    height: 70px;
  }
  .check-first-card-inner {
    width: 50px;
  }

  .game-player-card {
    height: 30px;
  }
  .game-player-card:not(:first-child) {
    margin-left: -13px;
  }
}
 */
